pkgbase = fancontrol-linux
	pkgdesc = Fan control for Linux, in the shape of FanControl for Windows
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/4bit33/Fancontrol-linux
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	source = fancontrol-linux-1.2.0.tar.gz::https://github.com/4bit33/Fancontrol-linux/archive/v1.2.0/fancontrol-linux-1.2.0.tar.gz
	sha256sums = SKIP

pkgname = fancontrol-linux
	pkgdesc = Fan control for Linux, in the shape of FanControl for Windows
	depends = python
	depends = python-gobject
	depends = python-dasbus
	depends = pyside6
	depends = systemd
	optdepends = lm_sensors: detect motherboard sensors and load super-I/O drivers

pkgname = fancontrol-linux-nvidia
	pkgdesc = Let fancontrol-linux drive NVIDIA graphics card fans
	depends = fancontrol-linux=1.2.0-1
